.Spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 5px solid #ddd;
  border-radius: 50%;
  border-top-color: #0e8fc2;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
